<!DOCTYPE html>
<html>

<body>
    <div style="font-family: Calibri, Arial, Helvetica, sans-serif;
                width: 700px;
                margin: 0 auto;
                border: 1px solid transparent;
                background-color: #f8fafc;">
        <div style="height: 100px;
                            box-sizing: border-box;">
            <img style="height: 60px;
                                margin: 30px auto;
                                display: block;
                                box-sizing: border-box" src="https://i.ibb.co/cw4rFBn/edufied-logo.png" alt="edufied-logo">
        </div>
        <div style="background-color: white;
                    padding: 50px 80px;">
            <p>Dear {{name}},</p>
            <p>
                Thank you for joining us for the {{courseTitle}}. We are pleased to attach in this email your
                certificate
                in .pdf and .opencert formats.
            </p>
            <p>
                OpenCerts is a trademark for publishing educational credentials, developed by GovTech Singapore. The
                OpenCerts file is a
                tamper-proof and verifiable digital version of your certificate. Using cryptographic protections, an
                irreversible hash
                of your certificate is published onto the Blockchain in a secured and immutable manner.
            </p>
            <p>
                To view or prove an OpenCerts’ authenticity, please follow these steps:
            <ol>
                <li>Save the OpenCerts file attachment</li>
                <li>Visit <a href="https://www.opencerts.io/">https://www.opencerts.io/</a></li>
                <li>Upload or drag-and-drop the OpenCerts file into the certificate verifier on the page</li>
            </ol>
            </p>
            <p>
                You may also send the OpenCerts file to any third party and they will be able to verify the authenticity
                of the
                certificate by following the steps above.
            </p>
            <p>
                {{issuerName}} has joined several other institutions such as Singapore Examinations and Assessment Board
                (SEAB) and
                SkillsFuture Singapore (SSG) in a nationwide initiative, called the OpenCerts, to issue digital
                certificates for our
                courses and certification programmes as we move towards a more secure digital world.
            </p>
            <p>Thank you for your support and we look forward to your continuous participation in other programmes.</p>
            <p>With warm regards,</p>
            <p>{{issuerName}}</p>
        </div>
        <footer>
            <p style="text-align: center;
                              width: 100%;
                              margin: 0;
                              padding: 40px 0;
                              color: #2d2d2d;
                              font-size: 12px">
                © 2021 Edufied. All rights reserved.</p>
        </footer>
    </div>

</body>

</html>