<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asseto</title>
    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      
    <style type="text/css">
        body {
            margin: 0;
            background-color: #cccccc;
        }
        
        table {
            border-spacing: 0;
        }
        
        td {
            padding: 0;
        }
        img {
            border: 0;
        }
        
        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #F2F2F7;
            padding: 32px 0px 128px;
        }
        
        .main {
            background-color: #FFFFFF;
            border-radius: 8px;
            margin: 0 auto;
            width: 100%;
            max-width: 576px;
            border-spacing: 0px;
            font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
            color: #000000;
            font-size: 16px;
        }
        
        .header {
            padding: 32px 32px 48px;
        }
        
        .logo {
            width: 148px;
            height: auto;
        }
        .content {
			padding: 35px 35px 35px;
			}
        
        .action-button {
            font-size: 16px;
            color: #FFFFFF;
            padding: 8px 24px;
            background-color: #5F68FF;
            text-decoration: none;
            border-radius: 4px;
            margin-top:35px;
            display: inline-block;
        }
        
        .main-content {
            font-size: 16px;
            color: #000;
            line-height: 24px;
            margin: 0;
        }
        
        .footer {
            padding: 32px;
            border-top: 1px solid #E7E7EC;
        }
        
        .footer-text {
            color: #777777;
            font-size: 10px;
            line-height: 14px;
            display: block;
            margin-bottom: 8px;
        }
        
        .hyperlinks {
            font-size: 10px;
            color: #5F68FF;
            line-height: 14px;
            display: block
        }
        
        .small-link {
            color: #5F68FF;
            text-decoration: none;
            padding-right: 4px;
            padding-left: 4px;
        }
        
        .first-small-link {
            padding-left: 0px;
        }
        
        .custom-label {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #AAAAAA;
            display: block;
        }
        
        .case-wo-number {
            font-weight: bold;
            color: #5F68FF;
        }
        
        .display-block {
            display: block;
        }
        
        .sla-fulfilled {
            color: #09A489;
        }
        
        .sla-breached {
            color: #FF202F;
        }
        .black {
            color: #000000;
            font-size: 20px;
        }
        .grey {
            color: grey;
            font-size: 20px;
        }
    </style>
  </head>
  <body>
      <center class="wrapper">
          <table class="main" width="100%">
            
              
              <!-- On boarding Email -->
              <tr>
                <td class="content">
                    <p class="main-content">
                        Dear {{data.name}},
                        <br>
                        <br>
                        <span class="black"><b>Thanks for initiating the process of forget password.</b></span>  
                        <br>
                       
                        <br>
                        <span class="grey">You can click on following link to reset the password.</span>
                        </p>
                    
                    <a class="action-button" href={{url}} target="_blank">
                        Click Here to Reset Password
                    </a>
                </td>
              </tr>
              
              <!-- Footer -->
              <tr>
                <td class="footer">
                    <span class="footer-text">© 2022 Cortex, All Rights Reserved.</span>
                    <span class="hyperlinks"><a class="small-link first-small-link" href="#">Privacy policy</a>  |  <a class="small-link" href="#">Legal Notice</a>  |  <a class="small-link" href="#">Unsubscribe</a></span>
                </td>
              </tr>
          </table>
      </center>
  </body>
</html>